<h1> Welcome to your Posts</h1>

<form id="posts" name="posts" method="POST" action="/users/createPosts">
<div>
    <label for="name">Post Title:</label>
    <input type="text" name="PostTitle" required>
</div>
<div>
    <label for="name">Posts:</label>
    <input type="text" name="PostBody" required>
</div>
   <button type="submit" class="btn btn-warning">Submit!</button>



</form>